rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow list: if false;
      allow get: if request.auth != null && request.auth.uid == userId;

      allow create: if request.auth != null && request.auth.uid == userId;
      allow update, delete: if false;
    }

    // Deny all reads and writes to the translations collection
    match /translations/{translationId} {
      allow read: if false;
      allow write: if false;
    }

    // Deny all reads and writes to the sentences collection
    match /sentences/{sentenceId} {
      allow read: if false;
      allow write: if false;
    }
  }
}