<div class="grid grid-cols-3 lg:grid-cols-12 drop-shadow-lg px-4 w-full">
  <div></div>
  <div></div>
  <div></div>
  <div class="mt-24 lg:col-span-2">
    <div class="flex flex-col items-center bg-background rounded-l-3xl h-full">
      <img
        class="absolute top-14 inline-block h-24 w-24 rounded-full ring-4 ring-blue bg-cover object-cover"
        [src]="users[1].image"
        alt=""
      />
      <div class="flex flex-col items-center space-y-1 mt-1">
        <img class="mt-16" src="../../../assets/shapes/shape2.svg" alt="" />
        <h2 class="font-bold text-text">{{ users[1].name }}</h2>
        <p class="text-blue font-bold">{{ users[1].points }}</p>
      </div>
    </div>
  </div>
  <div class="bg-primary rounded-t-3xl lg:col-span-2 py-4">
    <div class="flex flex-col items-center">
      <img
        class="inline-block h-32 w-32 rounded-full ring-4 ring-orangeLight bg-cover object-cover"
        [src]="users[0].image"
        alt=""
      />
      <div class="flex flex-col items-center space-y-1">
        <img class="mt-2" src="../../../assets/shapes/shape1.svg" alt="" />
        <h2 class="font-bold text-white">{{ users[0].name }}</h2>
        <p class="text-orangeLight font-bold">{{ users[0].points }}</p>
      </div>
    </div>
  </div>
  <div class="mt-24 lg:col-span-2">
    <div
      class="flex flex-col items-center bg-background rounded-r-3xl h-full py-2"
    >
      <img
        class="absolute top-14 inline-block h-24 w-24 rounded-full ring-4 ring-green bg-cover object-cover"
        [src]="users[2].image"
        alt=""
      />
      <div class="flex flex-col items-center space-y-1 mt-1">
        <img class="mt-16" src="../../../assets/shapes/shape3.svg" alt="" />
        <h2 class="font-bold text-text">{{ users[2].name }}</h2>
        <p class="text-green font-bold">{{ users[2].points }}</p>
      </div>
    </div>
  </div>
</div>
