<app-header />

<section class="bg-white py-20">
  <div class="px-4 mx-auto text-center">
    <h1
      class="mb-10 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary"
    >
      404
    </h1>
    <p class="mb-4 text-3xl tracking-tight font-bold md:text-4xl">
      Something's missing.
    </p>
    <p class="mb-10 text-lg font-light text-gray-500">
      Sorry, we can't find the page you're looking for.
    </p>
    <a routerLink="/" class="cursor-pointer text-primary underline">
      Back to Homepage
    </a>
  </div>
</section>

<app-footer />
