<app-header />

<div class="container py-10">
  <main
    class="login-page text-center min-h-[400px] flex flex-col items-center justify-center"
  >
    <h1 class="font-bold text-3xl mb-4">Welcome To Collect Darija Platform</h1>
    <p class="text-muted mb-8">Help the Moroccan data science community grow</p>
    <button
      class="flex items-center gap-4 py-4 px-10 border shadow-md rounded-md hover:bg-gray-50"
      (click)="login()"
    >
      <img src="assets/google.svg" alt="G" class="h-[20px]" />
      <span class="font-semibold text-[#757575]">Signin with Google</span>
    </button>
  </main>
</div>

<app-footer />
