@if (translation) {
  <div class="lg:w-[900px] xl:w-[1200px] mx-auto py-10 md:py-18">
    <div class="grid md:grid-cols-2 gap-4">
      <div class="shadow-md rounded-md border bg-background relative pb-10">
        <div
          class="border-b rounded-t px-8 py-4 flex justify-between items-center bg-white"
        >
          <h2 class="font-bold">English</h2>
          <div class="flex gap-4 items-center">
            <i class="ri-volume-up-line ri-lg cursor-pointer"></i>
          </div>
        </div>
        <div class="px-8 py-5">
          <p class="text-justify font-medium">
            {{ translation.sentence.content }}
          </p>
          <span
            class="absolute bottom-3 right-8 text-xs font-medium text-muted"
          >
            {{ translation.sentence.content.length }} characters
          </span>
        </div>
      </div>
      <div class="shadow-md rounded-md border bg-background relative pb-10">
        <div
          class="border-b rounded-t px-8 py-4 flex justify-between items-center bg-white"
        >
          <h2 class="font-bold">Darija</h2>
          <div class="flex gap-4 items-center">
            <i class="ri-volume-up-line ri-lg cursor-pointer"></i>
          </div>
        </div>
        <div class="px-8 py-5">
          <p class="text-justify font-medium">
            {{ translation.translation }}
          </p>
          <span
            class="absolute bottom-3 right-8 text-xs font-medium text-muted"
          >
            {{ translation.translation.length }} characters
          </span>
        </div>
      </div>
    </div>
    <div class="flex justify-end mt-4 gap-2">
      <div
        class="flex flex-col mb-6 rounded-lg rounded-t-lg border border-gray-200 p-4"
      >
        <p class="ms-1 my-3 text-xl font-sans">Add a review</p>
        <div class="flex my-2">
          @for (rating of ratings; track $index) {
            <i
              (click)="setRating($index + 1)"
              class="flex flex-col justify-center mr-1"
              [ngClass]="{
                'text-yellow-500 hover:text-yellow-500':
                  selectedRating > $index,
                'text-gray-300 hover:text-yellow-500': selectedRating <= $index
              }"
            >
              <svg
                class="w-5 h-5 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
            </i>
          }
          <p>{{ selectedRating }} out of 5</p>
        </div>
        <div class="flex justify-end">
          <button
            type="submit"
            (click)="submitReview()"
            class="inline-flex items-center cursor-pointer text-orange-600 font-medium hover:underline"
          >
            Next
            <svg
              class="w-4 h-4 ms-2 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  @if (flags.isVisible) {
    <div
      class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex justify-center items-center"
    >
      <div
        class="flex flex-col justify-center items-center bg-white p-5 py-10 rounded-lg w-[300px]"
      >
        <p class="text-lg font-bold font-sans mb-6">
          Submitting your review...
        </p>
        <svg
          aria-hidden="true"
          class="inline w-14 h-14 text-gray-200 animate-spin fill-orange-500"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
      </div>
    </div>
  }
} @else if (flags.noTranslations) {
  <app-no-data message="No Translations" icon="ri-font-size-2"></app-no-data>
} @else {
  <app-loading content="Loading Next Translation ..." />
}
